
  <footer class="footer">
    <div class="container">
      
    
      <!-- Footer Content -->

      <div class="footer_content">
        <div class="row">

          <!-- Footer Column - About -->
          <div class="col-lg-4 footer_col">

            <!-- Logo -->
            <div class="logo_container">
              <div class="logo">
                <img src="assets/images/logo.png" alt="logo-sentinelles-technologies">
                <span>OUI<i>CODE</i></span>
              </div>
            </div>

            <div class="footer_column_content">
              <ul>
                <li class="footer_contact_item">
                  <div class="footer_contact_icon">
                    <img src="assets/images/earth-globe.svg" alt="https://www.flaticon.com/authors/lucy-g">
                  </div>
                  Des formations qualifiantes.
                </li>
                <li class="footer_contact_item">
                  <div class="footer_contact_icon">
                    <img src="assets/images/earth-globe.svg" alt="https://www.flaticon.com/authors/lucy-g">
                  </div>
                  Un accompagnement personnel.
                </li>
                <li class="footer_contact_item">
                  <div class="footer_contact_icon">
                    <img src="assets/images/earth-globe.svg" alt="https://www.flaticon.com/authors/lucy-g">
                  </div>
                  Des encadrants experts & passionnés.
                </li>
              </ul>
            </div>

          </div>

          <!-- Footer Column - Menu -->

          <div class="col-lg-4 footer_col text-center">
            <div class="footer_column_title">Menu</div>
            <div class="footer_column_content">
              <ul>
                <li class="footer_list_item"><a href="#">Accueil</a></li>
                <!--<li class="footer_list_item"><a href="#">L'équipe</a></li>-->
                <li class="footer_list_item"><a routerLink="/formations">Les formations</a></li>
                <li class="footer_list_item"><a routerLink="/courses">Les cours</a></li>
                <li class="footer_list_item"><a routerLink="/contact" href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>

          <!-- Footer Column - Usefull Links -->
          <!--
          <div class="col-lg-2 footer_col">
            <div class="footer_column_title">Liens utiles</div>
            <div class="footer_column_content">
              <ul>
                <li class="footer_list_item"><a href="#">Testimonials</a></li>
                <li class="footer_list_item"><a href="#">FAQ</a></li>
                <li class="footer_list_item"><a href="#">Community</a></li>
                <li class="footer_list_item"><a href="#">Campus Pictures</a></li>
                <li class="footer_list_item"><a href="#">Tuitions</a></li>
              </ul>
            </div>
          </div>
          -->
          <!-- Footer Column - Contact -->

          <div class="col-lg-4 footer_col">
            <div class="footer_column_title">Contact</div>
            <div class="footer_column_content">
              <ul>
                <li class="footer_contact_item">
                  <div class="footer_contact_icon">
                    <img src="assets/images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">
                  </div>
                  7 rue Kléber, 29200, Brest
                </li>
                <li class="footer_contact_item">
                  <div class="footer_contact_icon">
                    <img src="assets/images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">
                  </div>
                  (+33) 06 67 89 75 60
                </li>
                <li class="footer_contact_item">
                  <div class="footer_contact_icon">
                    <img src="assets/images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
                  </div>contact@sentinelles-technologies.com
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <!-- Footer Copyright -->

      <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
        <div class="footer_copyright d-none">
          <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
        </div>
        <div class="footer_social ml-sm-auto">
          <ul class="menu_social">
            <li class="menu_social_item"><a href="https://www.linkedin.com/company/sentinelles-technologies" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </footer>